html,
body {
  max-width: 481px;
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
}

:root {
  --blue1: #edf7ff;
  --blue2: #004c92;
  --blue3: #ebf5ff;
  --grey1: #f7f7f9;
  --grey2: #7d7d7d;

  font-family: Noto Sans Kr;
}
